<p>
  Productos en el carrito: {{ myShoppingCart.length }}
</p>
<p>
  Total: ${{total}}
</p>
<button (click)="toggleProductDetail()">Side bar</button>

<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
  <button (click)="onLoadMore()">Load more</button> 
</div>
<div class="product-detail" [class.active]="showProductDetail">
  {{ statusDetail }}
  <div *ngIf="productChosen">
    <button (click)="toggleProductDetail()">Close</button>
    <h1>{{ productChosen.title }}</h1>
    <swiper-container slides-per-view="1">          
      <swiper-slide *ngFor="let img of productChosen.images">          
        <img width="100%" [src]="img.url" [alt]="img.alt"/>
      </swiper-slide>        
    </swiper-container>
    <p>{{ productChosen.description }}</p>
    <p>{{ productChosen.price }}</p>          
  </div>
</div>
