<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="name" />
<p class="message-error" [class.invalid]="nameInput2.invalid">El campo es requerido</p>

<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="name" />
<p [style.font-style]="nameInput2.invalid ? 'italic' : 'normal'">El campo es requerido</p>

<div>
  <div>
    <input type="number" [(ngModel)]="widthImg" />
    <img [style.width.px]="widthImg" [src]="imageUrl" alt="amazon-web-services"/>    
  </div>
</div>



<h1>*ngFor Objs</h1>
<div class="products-grid">
  <div *ngFor="let product of products">
    <img width="250" [src]="product.image" alt="image"/>
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>

<router-outlet></router-outlet>
