<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" required #nameInput="ngModel" [(ngModel)]="register.name" />
    <p>El campo es requerido</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="email" name="email" required #emailInput="ngModel" [(ngModel)]="register.email" />
    <p>El campo es requerido</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" name="password" required #passwordInput="ngModel" [(ngModel)]="register.password" />
    <p>El campo es requerido</p>
  </div>
  <button type="submit" [disabled]="myForm.invalid">Registrarse</button>
  <button type="button">Accion</button>
</form>




<h1>Class & Style</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="name" />
<hr class="line-error" [ngClass]="{
  'valid': nameInput4.valid,
  'invalid': nameInput4.invalid  
}"/>
<p class="message-error" [class.invalid]="nameInput2.invalid">El campo es requerido</p>

<div>
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div [ngStyle]="{
    'width.px': box.width,
    'height.px': box.height,
    'background-color': box.background,
    'display': 'block'
  }"></div>
</div>


<hr/>

<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="name" />
<p class="message-error" [class.invalid]="nameInput2.invalid">El campo es requerido</p>

<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="name" />
<p [style.font-style]="nameInput2.invalid ? 'italic' : 'normal'">El campo es requerido</p>

<div>
  <div>
    <input type="number" [(ngModel)]="widthImg" />
    <img [style.width.px]="widthImg" [src]="imageUrl" alt="amazon-web-services"/>    
  </div>
</div>



<h1>*ngFor Objs</h1>
<div class="products-grid">
  <div *ngFor="let product of products">
    <img width="250" [src]="product.image" alt="image"/>
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>

<router-outlet></router-outlet>
